.tree-panel{
    width: 500px;
    height: auto;
    overflow: hidden;
    box-shadow: 0 0 10px -2px rgba(0,0,0,0.2);
    color: #000;
    padding: 20px;
    border-radius: 10px;
    border: solid 1px #ddd;
}
.tree-panel .tree-panel-heading {
    padding: 5px;
    border-bottom: solid 1px #DFDFDF;
}
.tree-panel .tree-panel-heading .btn {
    font-size: 13px;
}
.tree-panel #home-tree {
    list-style: none;
    padding: 0;
    margin: 0;
    height: auto;
    overflow: hidden;
}
.tree-panel .tree {
    list-style: none;
    padding-left: 17px;
}
.tree-panel .tree li {
    width: 100%;
    float: left;
}
.tree-panel .tree .tree-folder .tree-folder-name {
    padding: 2px 5px;
    display: block;
    float: left;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: hidden;
}
.tree-panel .tree .tree-folder .tree-folder-name.checked {
    background-color: #00AFF0;
    color: #fff;
}
.tree-panel .tree .tree-folder .tree-folder-name.checked:hover {
    background-color: #00AFD3;
}
.tree-panel .tree .tree-folder .tree-folder-name:hover {
    background-color: #eee;
    cursor: pointer;
}
.tree-panel .tree .tree-folder .tree-folder-name input {
    vertical-align: baseline;
    margin-right: 4px;
    line-height: normal;
}
.tree-panel .tree .tree-folder .tree-folder-name i {
    font-size: 13px;
}
.tree-panel .tree .tree-folder .tree-folder-name label {
    font-weight: 400;
    font-size: 12px;
    font-family: sans-serif;
}